{%extends 'layout.html'%}

{%block content %}

<h1>Welcome to the password generator</h1> </h1>

<div class="col-md-4 offset-md-4">
<form action="{% url 'password' %} "class="card card-body">

<h1>Password generator :)</h1>

<label for="length">Select the length of your password</label>
<select name="length" id="length"> 

    <option value="6">      6 characters </option>
    <option value="7">      7  characters</option>
    <option value="8">      8  characters</option>
    <option value="9">      9  characters</option>
    <option value="10">  10  characters</option>
    <option value="11">  11  characters</option>
    <option value="12">  12  characters</option>
</select>

    <label for="uppercase">Uppercase</label>
    <input type="checkbox" name="uppercase" id="uppercase">
    <label for="special">Special characters</label>
    <input type="checkbox" name="special" id="special">
    <button>Generate password</button>
</form>


</div>

{%endblock %}
